<!DOCTYPE html>
<html>
<body>

		<div id="qunit"></div>
  		<div id="qunit-fixture"></div>
  		<script src="/js/qunit-1.17.1.js"></script>
        <script src="/activeJS/class.js"></script>
        <script src="/testsJS/tests.js"></script>

</body>
</html>



